<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/exercise_form' %>
			</section>
		</aside>
		<div class="span 8">
			<h3> Exercise Feed </h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<% provide(:title, 'Home') %>
	<div class="center hero-unit">
	<h1>Welcome to the Rubberbanditz Pull up Tracker</h1>
		<h2>its THE place to track your pullup progress!</h2>
		<%= link_to "Sign up now!", signup_path, class: 'btn btn-large btn-primary' %>
	</div>
<% end %>
