<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section
			<section>
				<%= render 'shared/exercise_form' %>
			</section>
		</aside>
		<div class="span 8">
			<h3> Exercise Feed </h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<% provide(:title, 'Home') %>
	<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>
		<h2>Find me in app/views/static_pages/home.html.erb</h2>
		<%= link_to "Sign up now!", signup_path, class: 'btn btn-large btn-primary' %>
	</div>

	<%= link_to(image_tag("rails.png", alt: "Rails"), "http://rubyonrails.org") %>
<% end %>
